#p-1 {
  font-family: "Verdana", sans-serif;
}

#p-2 {
  font-family: serif;
}

#p-3 {
  font-family: "FreeMono", monospace;
}

#p-4 {
  font-family: "Roboto", sans-serif;
}

#p-5 {
  font-family: "Akronim", cursive;
  font-size: 24px;
}

#p-6 {
  font-family: "Montserrat", sans-serif;
}
